body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(204, 204, 204);
    background: radial-gradient(circle,
            rgba(204, 204, 204, 1) 0%,
            rgba(255, 255, 255, 1) 100%);
}

.nav-link {
    white-space: nowrap;
}

.content {
    flex: 1;
}

.globalFooter {
    background-color: #212529;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#carouselExample {
    margin: 0 auto;
    /* Centre horizontalement le carousel */
    width: 100%;
    /* Ajustez la largeur selon vos besoins */
}

#avis {
    padding-top: 40px;
    padding-bottom: 40px;
}

#imgPartenaire img {

    width: 100%;
}

.row {
    height: 30%;
}

.presentation {
    padding-top: 20px;
}

.buttonContactFin {
    text-align: center;
}

.formulaireContact {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

.formulaireConnexion {
    margin: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}

.content {
    max-width: 550px;
    top: auto;
    bottom: auto;
}