body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(240, 240, 240);
}

/* DARK MODE */
.dark-mode {
    background: rgb(43, 43, 43);
    color: white
}

.dark-mode .globalFooter {
    background-color: #333333;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
}

.dark-mode .navbar {
    background-color: #333333;
    color: white;
}

.dark-mode .navbar a {
    color: white;
}

.dark-mode .navbar a:hover {
    color: #a0a0a0;
}

.dark-mode .nav-link.active {
    color: #a0a0a0;
}

.dark-mode .navbar img {
    filter: invert(100%);
}

.dark-mode #imgPartenaire img {
    filter: invert(100%);
}

.dark-mode .navbar {
    border-bottom: 1px solid rgb(255, 255, 255)
}

.dark-mode .accordion-button {
    background-color: #333333;
    color: white;
}

.dark-mode .accordion-body {
    background-color: #414141;
    color: white;
}

.dark-mode .accordion-item {
    background-color: #333333;
    color: white;
}

.dark-mode .accordion-button[aria-expanded="true"] {
    background-color: #181818;
    color: white;
}

.dark-mode .accordion-button::after {
    filter: invert(100%);
}

.dark-mode #toggleButton{
    filter: invert(100%);
}

.dark-mode a{
    color: white;
}

/* FIN DARK MODE */

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrows-angle-expand' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707'/%3E%3C/svg%3E");
}

.accordion-button[aria-expanded="true"]::after {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrows-angle-expand' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707'/%3E%3C/svg%3E");
}


.navbar {
    border-bottom: 1px solid rgb(0, 0, 0)
}

.globalFooter {
    border-top: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.nav-link {
    white-space: nowrap;
}

.content {
    flex: 1;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


h1 {
    text-align: center;
    padding: 20px;
    margin: 0px;

}

#avis {
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordion {
    padding-top: 50px;
    padding-bottom: 50px;
}

.accordion-button {
    background-color: #F7F7F7;
    color: rgb(0, 0, 0);
    /* Couleur du texte sur le bouton */
    padding: 30px;
}

.accordion-body {
    color: rgb(0, 0, 0);
}

.accordion-item {
    background-color: rgb(255, 255, 255);
}

/* Couleur du bouton de l'accordéon lorsque l'état "aria-expanded" est "true" */
.accordion-button[aria-expanded="true"] {

    background-color: #F7F7F7;
    color: rgb(0, 0, 0);
    /* Couleur du texte sur le bouton */
}