body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(240, 240, 240);
}

/* DARK MODE */
.dark-mode {
    background: rgb(43, 43, 43);
    color: white
}

.dark-mode #avis .card {
    background-color: #333333;
    color: white;
}

.dark-mode .globalFooter {
    background-color: #333333;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
}

.dark-mode .navbar {
    background-color: #333333;
    color: white;
}

.dark-mode .navbar a {
    color: white;
}

.dark-mode .navbar a:hover {
    color: #a0a0a0;
}

.dark-mode .nav-link.active {
    color: #a0a0a0;
}

.dark-mode .navbar img {
    filter: invert(100%);
}

.dark-mode #imgPartenaire img {
    filter: invert(100%);
}

.dark-mode .navbar {
    border-bottom: 1px solid rgb(255, 255, 255)
}

.dark-mode #toggleButton{
    filter: invert(100%);
}

.dark-mode a{
    color: white;
}

/* FIN DARK MODE */

.navbar {
    border-bottom: 1px solid rgb(0, 0, 0)
}

.nav-link {
    white-space: nowrap;
}

.content {
    flex: 1;
}

.globalFooter {
    border-top: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0px;
}

#carouselExample {
    padding: 50px;
    margin: 0 auto;
    width: 100%;
}

#avis {
    padding-top: 40px;
    padding-bottom: 40px;
}

#imgPartenaire img {
    width: 100%;
}

.row {
    height: 30%;
}